{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema de Solicitações{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="menu">
        <ul>
            <li><a href="{% url 'home' %}">Início</a></li>
            <li><a href="{% url 'index' %}">Nova Solicitação</a></li>
            <li><a href="{% url 'logout' %}">Sair do Perfil</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>